:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-header {
  background-color: #2f3136;
  color: white;
  padding: 10px;
  text-align: center;
  flex-shrink: 0;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overscroll-behavior: contain;
}

.chat-message {
  margin-bottom: 15px;
}


.chat-message span {
  font-weight: bold;
}

.chat-input {
  background-color: #2f3136;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-shrink: 0;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
