body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
}

.servers {
  width: 72px;
  background-color: #2f3136;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.channels {
  width: 238px;
  background-color: #36393f;
  color: white;
  padding: 10px;
}

.channels h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.channels ul {
  list-style: none;
  padding: 4px;

}

.channels li {
  padding: 10px;
  cursor: pointer;
}

.channels li:hover {
  background-color: #4f545c;
}

.chat {
  flex: 1;
  background-color: #40444b;
  display: flex;
  flex-direction: column;
}
